<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Tools by Lalit A Patel</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Lalit Patel Data Science Quantum Mechanics Entanglement Computing" />
	<meta name="description" content="Tools by Lalit A Patel" />
	<meta name="robots" content="noindex, nofollow" /><!-- change into index, follow -->
	<link rel="icon" type="image/x-icon" href="../abc/favicon.ico">
	<link rel="stylesheet" href="static/css/style.css" type="text/css" />
</head>

<body>
	<div id="idma">
		<div id="idco">
			<h1 class="prow">Tools by Lalit A Patel</h1>
			<div class="txtm">
				<table>
					<tr class="bord">
						<td class="lcol">
							<a href="fma" target="_blank"><img src="static/img/FireMoveAnim.jpg" alt="Fire Movement Animation" width="200" class="img2" /></a></a>
						</td>
						 <td class="rcol">
							<h3>Fire Movement Animation</h3>
							<a href="https://www.fire.ca.gov/incidents/2025/1/7/palisades-fire" target="_blank">Palisades</a> and <a href="https://www.fire.ca.gov/incidents/2025/1/7/eaton-fire" target="_blank">Eaton</a> fires of 7 January 2025 have traumatized many people and burnt down many properties. Areas affected by such fires are generally barricaded by the Fire Department, and people displaced from there cannot visit their properties. Many of these people desire to monitor movement of fires around their properties.<br /><br />
							In view of this necessity, Lalit has made an <a href="static/docs/MacFires_v1.xlsm" target="_blank">Excel macro file</a> and an <a href="fma" target="_blank">interactive web page</a> for animating movement of fires around a location. This version needs the location's latitude and longitude, which can be obtained using maps.google.com or such other website. This version uses NASA EarthData data of USA for the period 1 to 11 January 2025.
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>